/* https://fonts.googleapis.com/css?family=Montserrat:500|Tenor+Sans&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese generated on 2023-01-12T19:19:01+00:00 */
@font-face {font-family: 'Montserrat'; font-style: normal; font-weight: 500; src: url(../fonts/font-f3a64ede.woff2) format('woff2'); }
@font-face {font-family: 'Tenor Sans'; font-style: normal; font-weight: 400; src: url(../fonts/font-b611cdb6.woff2) format('woff2'); }
